.fas {
  font-style: normal;
}

.fa-angle-left:before {
  content: "‹‹";
}

.fa-angle-right:before {
  content: "››";
}

.fa-pause-circle:before {
  content: "ᐅ";
}

.fa-play-circle:before {
  content: "ll";
}
