@charset "UTF-8";
.fas {
  font-style: normal;
}

.fa-angle-left:before {
  content: "‹‹";
}

.fa-angle-right:before {
  content: "››";
}

.fa-pause-circle:before {
  content: "ᐅ";
}

.fa-play-circle:before {
  content: "ll";
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.fa-angle-left,
.fa-angle-right {
  color: rgba(200, 150, 200, 0.5);
  font-size: 60px;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba(200, 150, 200, 0.5);
  font-size: 30vh;
  font-style: normal;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #000000;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 40px;
}

.slide a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slide.active {
  z-index: 1;
  opacity: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-pause,
.control-prev,
.control-next {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-pause {
  top: calc(50% - 20vh);
  left: calc(50% - 7vh);
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0;
}

.control-pause:hover,
.control-pause:focus {
  -webkit-transition: opacity 0.25s ease-in 0.25s;
  -o-transition: opacity 0.25s ease-in 0.25s;
  transition: opacity 0.25s ease-in 0.25s;
  opacity: 1;
  text-shadow: 0 0 50px #ffffff;
}

.control-pause span {
  position: absolute;
  display: block;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 0;
}

.control-prev {
  left: 0;
  width: 10%;
}

.control-prev:hover,
.control-prev:focus {
  text-shadow: 0 0 10px #ffffff;
}

.control-next {
  right: 0;
  width: 10%;
}

.control-next:hover,
.control-next:focus {
  text-shadow: 0 0 10px #ffffff;
}

.indicators {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.indicator {
  width: 40px;
  height: 20px;
  margin: -40px 7.5px 0;
  border: 3px solid rgba(200, 150, 200, 0.5);
  border-radius: 5px;
  outline: none;
  background: none;
  background-clip: padding-box;
}

.indicator:hover {
  cursor: pointer;
}

.indicator.active {
  border-color: #ffffff;
  background-color: rgba(200, 150, 200, 0.5);
}

h1 {
  color: #c71f1f;
  font-size: 40px;
  text-align: center;
}

@media (min-width: 992px) {
  .control-pause,
  .control-prev,
  .control-next {
    cursor: pointer;
  }
  .indicator {
    cursor: pointer;
  }
}
